client
dev tun
proto {{ openvpn_protocol }}
remote {{ openvpn_ip }} {{ openvpn_port }}
resolv-retry infinite
nobind
persist-key
persist-tun
ca ca.crt
cert client.crt
key client.key
tls-auth ta.key 1
cipher AES-256-CBC